{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    APAN 5400
{% endblock %}

{% block content %}
    <div class="container">
        <h1>APAN 5400</h1>
        <p>Hello, class!</p>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr/>
                {% if search_results %}
                    <p>{{ search_results }}</p>
                {% else %}
                    <p>No results found.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}